Package: applepi
Source: J.B.Ward <j.bruce.ward@gmail.com>
Version: 0.1.5
Architecture: armhf
Maintainer: J.B.Ward <j.bruce.ward@gmail.com>
Installed-Size: 5692
Depends: libasound2
Section: misc
Priority: optional
Homepage: https://  ???
Description: An emulator for the enhanced Apple IIe computer

