Package: applepi
Source:
Version: 0.1.4
Architecture: armhf
Maintainer: J.B.Ward <j.bruce.ward@gmail.com>
Installed-Size: 668
Depends: libasound2, libqt5widgets5, libqt5gui5, libqt5core5a
Section: misc
Priority: optional
Homepage: https://github.com/FZBunny/applepi
Description: An emulator for the Apple IIe computer

