Package: applepi
Source: J.B.Ward <j.bruce.ward@gmail.com>
Version: 0.1.4
Architecture: arm64
Maintainer: J.B.Ward <j.bruce.ward@gmail.com>
Installed-Size: 667
Depends: wx-common, libwxbase3.0-0v5, libasound2
Section: misc
Priority: optional
Homepage: https://  ???
Description: An emulator for the enhanced Apple IIe computer

