[Desktop Entry]
Type=Application
Categories=Games;
Terminal=false
Icon=/usr/share/applepi/apple.png
Name[en]=ApplePi
Exec=/usr/bin/applepi
Name=ApplePi

