Package: applepi
Source:
Version: 0.2.2
Architecture: amd64
Maintainer: J.B.Ward <j.bruce.ward@gmail.com>
Installed-Size: 63488
Depends: libasound2, libqt5widgets5, libqt5gui5, libqt5core5a, libqt5gamepad5, libsdl-mixer1.2-dev
Section: misc
Priority: optional
Homepage: https://github.com/FZBunny/applepi
Description: An emulator for the Apple IIe computer
